header {
    position: sticky;
    top: 0;
    background-color: rgba(18, 18, 18, 0.95);
    border-bottom: 2px solid #ffcc00;
    z-index: 1000;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}
.lista{
    gap: 40px;
}